<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="custom/favicon/favicon.ico">
	
	<title>First Responder Dashboard</title>
	
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="bootstrap/css/bootstrap-table.css">
	<!-- Custom styles for this template -->
	<link href="custom/css/first-responder.css" rel="stylesheet">
	<script src="angular/angular.min.js"></script>
	<script src="js/controllers.js"></script>
	<script src="JQuery/jquery-1.11.3.min.js"></script>
	
</head>
<body ng-app="grsApp">
	<!-- <div ng-include="'header.html'"></div> -->
	  <div >
      	<img src="images/logo.png"  style="width:100%">	
    </div>
    
      <div class="navbar-custom" role="navigation">
      <div class="container container-menu">

  
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav nav-tabs">
            <li class="active">  <a  href="index">Home</a> </li>
            <li ><a  href="#gLoc">Incident Management</a></li>
            <li><a  href="#">Historical Data</a></li>
            <li><a  href="#">Alerts</a></li>
            <li ><a  href="responders">Responders</a></li>
            <li><a  href="#">Exit Procedures</a></li>
            <li><a  href="#">Medical Personal</a></li>
            <li><a  href="#">Support Personal</a></li>
            <li><a  href="equipments">Equipment</a></li>
            <li><a  href="#">Operational Status</a></li>
            <li><a  href="lifeCycleManagement">Lifecycle Management</a></li>
          </ul>
        </div>

      </div>
    </div>
	<div style="width: 100%;  background-color: red; text-align: center; color: white;font-weight: bold">
		ALERT: High Level of Phosgene Detected at Emergency #2
	</div>
	 <div >
      	<img src="images/home.png"  style="width:d%">	
    </div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document for better performance -->

	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="bootstrap/js/bootstrap-table.js"></script>
	<script src="bootstrap/js/validator.js"></script>
	<script src="bootstrap/js/moment.js"></script>
	<script src="bootstrap/js/bootstrap-datetimepicker.js"></script>

	<!-- <script src="custom/js/first-responder.js"></script> -->

</body>
</html>