<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="custom/favicon/favicon.ico">

<title>First Responder Dashboard</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="bootstrap/css/bootstrap-table.css">
<!-- Custom styles for this template -->
<link href="custom/css/first-responder.css" rel="stylesheet">

<script src="JQuery/jquery-1.11.3.min.js"></script>
</head>
<body  ng-app="grsApp">

	<!-- <div th:replace="fragments/header :: header" /> -->
	<!-- <div ng-include="fragments/header.html"></div> -->
	<div>
		<img src="images/logo.png" style="width: 100%">
	</div>

	<div class="navbar-custom" role="navigation">
		<div class="container container-menu">


			<div id="navbar" class="collapse navbar-collapse navbar-custom">
				<ul class="nav nav-tabs">
					<li><a href="index">Home</a></li>
					<li><a href="#gLoc">Incident Management</a></li>
					<li><a href="#">Historical Data</a></li>
					<li><a href="#">Alerts</a></li>
					<li class="active"><a href="responders">Responders</a></li>
		            <li><a  href="#">Exit Procedures</a></li>
		            <li><a  href="#">Medical Personal</a></li>
		            <li><a  href="#">Support Personal</a></li>
		            <li><a  href="equipments">Equipment</a></li>
		            <li><a  href="#">Operational Status</a></li>
		            <li><a  href="lifeCycleManagement">Lifecycle Management</a></li>
				</ul>
			</div>

		</div>
	</div>

<div style="width: 100%;  background-color: red; text-align: center; color: white;font-weight: bold">
		ALERT: High Level of Phosgene Detected at Emergency #2
</div>

	<div  ng-controller="FirstResponderCtrl" style="border: 4px; margin-left: 15px; margin-right: 15px;">
			<div style="border: 1px;background-color: #000080; color: white; margin-top: 5px; margin-bottom: 5px;">
							First Responder Personal
						</div>
			<div style="margin-top: 5px; margin-bottom: 5px;">
				<input type="text" size="20" />  &nbsp;&nbsp; <select>
							<option value="">Type</option>
						</select>
			</div>			


		<table  border="1" class="grid-table table">
			<tr>
				<th>&nbsp;</th>
				<th>Name</th>
				<th>ID</th>
				<th>Age</th>
				<th>Gender</th>
				<th>Position</th>
				<th>Type</th>
				<th>Fire Department</th>
				<th>Status</th>


			</tr>


			<tbody ng-repeat="responder in responders.data">
				<tr>
					<td><input type="checkbox" /></td>
					<td>{{responder.name}}</td>
					<td>{{responder.id}}</td>
					<td>{{responder.age}}</td>
					<td>{{responder.gender}}</td>
					<td>{{responder.position}}</td>
					<td>{{responder.type}}</td>
					<td>{{responder.fireDepartment}}</td>
					<td>{{responder.status}}</td>
				</tr>
			</tbody>

		</table>

	</div>







	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document for better performance -->

	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="bootstrap/js/bootstrap-table.js"></script>
	<script src="bootstrap/js/validator.js"></script>
	<script src="bootstrap/js/moment.js"></script>
	<script src="bootstrap/js/bootstrap-datetimepicker.js"></script>

	<!-- <script src="custom/js/home.js"></script> -->
	<script src="angular/angular.min.js"></script>
	<script src="js/controllers.js"></script>
</body>
</html>